In [19]:
import pandas as pd

orders = pd.read_csv('orders.csv')
orders["Timestamp"] = pd.to_datetime(orders["Timestamp"])
orders.columns = ['timestamp', 'group id', 'side', 'price', 'size']

orders["group id"] = orders["group id"].astype('int')
orders["price"] = orders["price"].astype('float')
orders["size"] = orders["size"].astype('int')

orders["order id"] = orders.index + 1
orders.head()

            timestamp  group id  side  price  size  order id
0 2024-09-30 20:26:01         5   buy    8.0    50         1
1 2024-09-30 20:26:11        14  sell   11.0    20         2
2 2024-09-30 20:26:14        10  sell   11.0   100         3
3 2024-09-30 20:26:15        12  sell   10.0    50         4
4 2024-09-30 20:26:16         7   buy    5.0    50         5

## Main structure of CLOB
- deal with each order and try to match a successful trade
- search the ideal prices, from good to bad, then from ealry to late
- place in a proper position if not matched / partly matched
- update the CLOB
- record in the trade book (trade_df)

In [20]:
# rename to bid & ask in the final display
clob = {"buy": {}, "sell": {}}
trade_df = pd.DataFrame(columns=["timestamp", "buy", "sell", "price", "size"]) 

def restart():
    global clob, trade_df
    clob = {"buy": {}, "sell": {}}
    trade_df = pd.DataFrame(columns=["timestamp", "buy id", "sell id", "price", "size"])

In [21]:
def upload_clob_info(order, outstanding=""):
    if not outstanding:
        outstanding = order["size"]
    if type(outstanding) != int:
        outstanding = int(outstanding)
    price0 = float(order["price"])
    order_dic = {"time":order["timestamp"],
                 "order id": int(order["order id"]), 
                 "size": int(order["size"]),
                 }
    if price0 not in clob[order["side"]]:
        clob[order["side"]][price0] = [order_dic]
    else:
        clob[order["side"]][price0].append(order_dic)

def upload_trade_info(trades):
    global trade_df
    # dict -> df
    # "pre-existing","latecomer","trade size" -> "timestamp", "buy", "sell", "price", "size"
    for j in trades:
        buyer_seller = {orders.iloc[j["latecomer"]-1, 2]: orders.iloc[j["latecomer"]-1, 1],
                        orders.iloc[j["pre-existing"]-1, 2]: orders.iloc[j["pre-existing"]-1, 1]}
        trade_detail =  [orders.iloc[j["latecomer"]-1, 0],
                        buyer_seller["buy"],
                        buyer_seller["sell"],
                        orders.iloc[j["pre-existing"]-1, 3],
                        j["trade size"]]
        new_df = pd.DataFrame([trade_detail], columns=trade_df.columns)
        if trade_df.empty:
            trade_df = new_df
        else:
            trade_df = pd.concat([trade_df, new_df], ignore_index=True)

def get_order_feature_at_the_price(target_feature, order0=pd.Series(dtype='float64'), price="", side="", opp=False):
    if not ((not order0.empty) or (price and side)):
        print("Error: input either order or side&price")
        return None
    elif not order0.empty:
        side, price = order0["side"], float(order0["price"])
    else:
        price = float(price)
    if opp:
        side = "buy" if side == "sell" else "sell"
    orders_at_the_price = clob[side][price]
    try:
        return [i[target_feature] for i in orders_at_the_price]
    except KeyError:
        print("Error: no such feature")
        return None

In [22]:
def match_trade(order):
    # return outstanding, matched_trades
    matched_trades = []

    side, price, outstanding = order["side"], float(order["price"]), int(order["size"])
    opp_side = "buy" if side == "sell" else "sell"
    opp_side_price = clob[opp_side].keys()
    if side == "buy":
        good_prices = [p for p in opp_side_price if p <= price and sum(get_order_feature_at_the_price("size",price=p,side="buy",opp=True)) > 0]
        if not good_prices:
            return outstanding, []
        good_prices.sort() # buy side look for the lowest price

    elif side == "sell":
        good_prices = [p for p in opp_side_price if p >= price and sum(get_order_feature_at_the_price("size",price=p,side="sell",opp=True)) > 0]
        if not good_prices:
            return outstanding, []
        good_prices.sort(reverse=True) # sell side look for the highest price
    
    for good_price in good_prices:
        for i, opp_order in enumerate(clob[opp_side][good_price]):
            opp_size = opp_order["size"]
            if outstanding == 0:
                return 0, matched_trades
            if outstanding < 0:
                raise ValueError("outstanding should not be negative")
            if opp_size == 0:
                continue
            if opp_size >= outstanding:
                matched_trades.append({"pre-existing":int(opp_order["order id"]),
                                        "latecomer": int(order["order id"]),
                                        "trade size": outstanding})
                clob[opp_side][good_price][i]["size"] -= outstanding # assign the value in the dictionary
                return 0, matched_trades
            else:
                outstanding -= opp_size
                clob[opp_side][good_price][i]["size"] = 0 # assign the value in the dictionary
                matched_trades.append({"pre-existing":int(opp_order["order id"]),
                                        "latecomer": int(order["order id"]),
                                        "trade size": opp_size})
        return outstanding, matched_trades

## Order Book State

In [23]:
# clob

## Trade Log

In [24]:
# trade_df

## Spread and Market Depth

In [25]:
# Print the bid-ask spread in the loop
def print_spread():
    highest_bid = max(clob["buy"].keys()) if clob["buy"] else None # 还需要筛选sum size>0
    lowest_ask = min(clob["sell"].keys()) if clob["sell"] else None # 还需要筛选sum size>0
    if highest_bid and lowest_ask:
        return lowest_ask - highest_bid

In [26]:
# Loop through all trades
restart()
for i in range(0, len(orders)):
#for i in range(0, 30): # for testing
    order = orders.iloc[i]
    outstanding, matched_trades = match_trade(order)
    if outstanding > 0:
        # Place the rest in the Order Book
        upload_clob_info(order, outstanding)
    if matched_trades:
        upload_trade_info(matched_trades)
    
    
    # Print the updated records
    bid_ask_spread = print_spread()

In [27]:
clob

{'buy': {8.0: [{'time': Timestamp('2024-09-30 20:26:01'),
    'order id': 1,
    'size': 50},
   {'time': Timestamp('2024-09-30 20:26:29'), 'order id': 9, 'size': 50},
   {'time': Timestamp('2024-09-30 20:27:39'), 'order id': 20, 'size': 50},
   {'time': Timestamp('2024-09-30 20:32:41'), 'order id': 27, 'size': 50},
   {'time': Timestamp('2024-09-30 20:42:15'), 'order id': 93, 'size': 10}],
  5.0: [{'time': Timestamp('2024-09-30 20:26:16'), 'order id': 5, 'size': 50},
   {'time': Timestamp('2024-09-30 20:41:58'), 'order id': 87, 'size': 80}],
  7.0: [{'time': Timestamp('2024-09-30 20:26:27'),
    'order id': 8,
    'size': 142}],
  10.0: [{'time': Timestamp('2024-09-30 20:26:47'), 'order id': 15, 'size': 0},
   {'time': Timestamp('2024-09-30 20:26:48'), 'order id': 16, 'size': 0},
   {'time': Timestamp('2024-09-30 20:33:46'), 'order id': 37, 'size': 0},
   {'time': Timestamp('2024-09-30 20:41:58'), 'order id': 85, 'size': 220}],
  9.0: [{'time': Timestamp('2024-09-30 20:31:04'),
    'order id': 21,
    'size': 100},
   {'time': Timestamp('2024-09-30 20:31:24'), 'order id': 22, 'size': 100},
   {'time': Timestamp('2024-09-30 20:33:44'), 'order id': 36, 'size': 50},
   {'time': Timestamp('2024-09-30 20:41:35'), 'order id': 73, 'size': 30},
   {'time': Timestamp('2024-09-30 20:41:42'), 'order id': 78, 'size': 37},
   {'time': Timestamp('2024-09-30 20:41:58'), 'order id': 86, 'size': 30}],
  11.0: [{'time': Timestamp('2024-09-30 20:33:48'),
    'order id': 38,
    'size': 0}],
  9.9: [{'time': Timestamp('2024-09-30 20:40:03'), 'order id': 49, 'size': 5}],
  9.85: [{'time': Timestamp('2024-09-30 20:40:26'),
    'order id': 52,
    'size': 5}],
  7.77: [{'time': Timestamp('2024-09-30 20:40:26'),
    'order id': 53,
    'size': 25}],
  9.95: [{'time': Timestamp('2024-09-30 20:40:28'),
    'order id': 54,
    'size': 0}],
  9.75: [{'time': Timestamp('2024-09-30 20:40:43'), 'order id': 57, 'size': 5},
   {'time': Timestamp('2024-09-30 20:41:19'), 'order id': 68, 'size': 5}],
  8.88: [{'time': Timestamp('2024-09-30 20:40:45'),
    'order id': 59,
    'size': 25}],
  10.5: [{'time': Timestamp('2024-09-30 20:40:59'),
    'order id': 62,
    'size': 0}],
  9.8: [{'time': Timestamp('2024-09-30 20:41:09'), 'order id': 64, 'size': 5}],
  9.99: [{'time': Timestamp('2024-09-30 20:41:12'),
    'order id': 66,
    'size': 25}],
  9.1: [{'time': Timestamp('2024-09-30 20:41:20'), 'order id': 69, 'size': 20},
   {'time': Timestamp('2024-09-30 20:42:24'), 'order id': 97, 'size': 250}],
  9.53: [{'time': Timestamp('2024-09-30 20:41:23'),
    'order id': 70,
    'size': 10}],
  9.7: [{'time': Timestamp('2024-09-30 20:41:24'), 'order id': 71, 'size': 5}],
  9.5: [{'time': Timestamp('2024-09-30 20:41:37'),
    'order id': 74,
    'size': 30}],
  9.65: [{'time': Timestamp('2024-09-30 20:41:38'),
    'order id': 75,
    'size': 5}],
  8.8: [{'time': Timestamp('2024-09-30 20:41:40'), 'order id': 77, 'size': 10},
   {'time': Timestamp('2024-09-30 20:41:46'), 'order id': 79, 'size': 25}],
  9.6: [{'time': Timestamp('2024-09-30 20:41:48'), 'order id': 80, 'size': 5},
   {'time': Timestamp('2024-09-30 20:42:41'), 'order id': 98, 'size': 500}],
  8.7: [{'time': Timestamp('2024-09-30 20:41:51'),
    'order id': 81,
    'size': 20}],
  9.55: [{'time': Timestamp('2024-09-30 20:41:53'),
    'order id': 82,
    'size': 5}],
  8.6: [{'time': Timestamp('2024-09-30 20:42:03'),
    'order id': 88,
    'size': 10}],
  8.5: [{'time': Timestamp('2024-09-30 20:42:12'), 'order id': 90, 'size': 10},
   {'time': Timestamp('2024-09-30 20:42:18'), 'order id': 95, 'size': 100}],
  9.02: [{'time': Timestamp('2024-09-30 20:42:18'),
    'order id': 94,
    'size': 20}]},
 'sell': {11.0: [{'time': Timestamp('2024-09-30 20:26:11'),
    'order id': 2,
    'size': 10},
   {'time': Timestamp('2024-09-30 20:26:14'), 'order id': 3, 'size': 100},
   {'time': Timestamp('2024-09-30 20:31:37'), 'order id': 24, 'size': 50},
   {'time': Timestamp('2024-09-30 20:32:58'), 'order id': 30, 'size': 100},
   {'time': Timestamp('2024-09-30 20:40:36'), 'order id': 56, 'size': 10}],
  10.0: [{'time': Timestamp('2024-09-30 20:26:15'), 'order id': 4, 'size': 0},
   {'time': Timestamp('2024-09-30 20:26:34'), 'order id': 12, 'size': 0},
   {'time': Timestamp('2024-09-30 20:32:56'), 'order id': 29, 'size': 0},
   {'time': Timestamp('2024-09-30 20:33:32'), 'order id': 33, 'size': 0},
   {'time': Timestamp('2024-09-30 20:40:44'), 'order id': 58, 'size': 0},
   {'time': Timestamp('2024-09-30 20:41:15'), 'order id': 67, 'size': 0}],
  12.5: [{'time': Timestamp('2024-09-30 20:26:20'),
    'order id': 6,
    'size': 20}],
  15.0: [{'time': Timestamp('2024-09-30 20:26:23'),
    'order id': 7,
    'size': 40}],
  30.0: [{'time': Timestamp('2024-09-30 20:26:31'),
    'order id': 10,
    'size': 100},
   {'time': Timestamp('2024-09-30 20:27:19'), 'order id': 18, 'size': 50}],
  100.0: [{'time': Timestamp('2024-09-30 20:26:32'),
    'order id': 11,
    'size': 50}],
  12.0: [{'time': Timestamp('2024-09-30 20:27:10'),
    'order id': 17,
    'size': 100},
   {'time': Timestamp('2024-09-30 20:31:26'), 'order id': 23, 'size': 100},
   {'time': Timestamp('2024-09-30 20:32:37'), 'order id': 26, 'size': 20},
   {'time': Timestamp('2024-09-30 20:39:43'), 'order id': 44, 'size': 40}],
  9.5: [{'time': Timestamp('2024-09-30 20:32:54'), 'order id': 28, 'size': 0},
   {'time': Timestamp('2024-09-30 20:40:45'), 'order id': 60, 'size': 0}],
  11.5: [{'time': Timestamp('2024-09-30 20:33:21'),
    'order id': 32,
    'size': 20}],
  11.75: [{'time': Timestamp('2024-09-30 20:33:40'),
    'order id': 34,
    'size': 25}],
  14.0: [{'time': Timestamp('2024-09-30 20:33:42'),
    'order id': 35,
    'size': 10}],
  11.95: [{'time': Timestamp('2024-09-30 20:33:52'),
    'order id': 39,
    'size': 15}],
  11.01: [{'time': Timestamp('2024-09-30 20:39:26'),
    'order id': 41,
    'size': 90},
   {'time': Timestamp('2024-09-30 20:43:14'), 'order id': 100, 'size': 10}],
  10.1: [{'time': Timestamp('2024-09-30 20:39:29'),
    'order id': 42,
    'size': 0}],
  10.5: [{'time': Timestamp('2024-09-30 20:39:35'),
    'order id': 43,
    'size': 100},
   {'time': Timestamp('2024-09-30 20:39:48'), 'order id': 46, 'size': 30},
   {'time': Timestamp('2024-09-30 20:40:23'), 'order id': 51, 'size': 10},
   {'time': Timestamp('2024-09-30 20:41:00'), 'order id': 63, 'size': 40},
   {'time': Timestamp('2024-09-30 20:41:57'), 'order id': 84, 'size': 20}],
  10.6: [{'time': Timestamp('2024-09-30 20:39:45'),
    'order id': 45,
    'size': 10}],
  10.8: [{'time': Timestamp('2024-09-30 20:40:03'),
    'order id': 48,
    'size': 10}],
  10.75: [{'time': Timestamp('2024-09-30 20:41:29'),
    'order id': 72,
    'size': 20},
   {'time': Timestamp('2024-09-30 20:42:14'), 'order id': 91, 'size': 20}],
  10.99: [{'time': Timestamp('2024-09-30 20:41:39'),
    'order id': 76,
    'size': 10}],
  10.76: [{'time': Timestamp('2024-09-30 20:41:56'),
    'order id': 83,
    'size': 20}],
  10.77: [{'time': Timestamp('2024-09-30 20:42:15'),
    'order id': 92,
    'size': 40}],
  13.0: [{'time': Timestamp('2024-09-30 20:43:00'),
    'order id': 99,
    'size': 60}]}}

In [28]:
trade_df

             timestamp  buy id  sell id  price  size
0  2024-09-30 20:26:34      11       12  10.00    40
1  2024-09-30 20:26:39       9       12  10.00    10
2  2024-09-30 20:26:39       9        4  10.00    50
3  2024-09-30 20:26:47       3        4  10.00    10
4  2024-09-30 20:27:20       1       14  11.00    10
5  2024-09-30 20:31:47       3       18  10.00    50
6  2024-09-30 20:31:47      13       18  10.00    50
7  2024-09-30 20:32:59       3       16   9.50    50
8  2024-09-30 20:33:46      15       16   9.50    50
9  2024-09-30 20:33:48       9       20  10.00    40
10 2024-09-30 20:33:48       9        8  10.00    30
11 2024-09-30 20:39:11       9        6  11.00    10
12 2024-09-30 20:39:29       9        2  11.00    90
13 2024-09-30 20:40:00      15       16  10.00    70
14 2024-09-30 20:40:07       1        2  10.10    80
15 2024-09-30 20:40:35       5        2  10.10    20
16 2024-09-30 20:40:44      15        6  10.00    30
17 2024-09-30 20:40:45      13        4   9.95     5
18 2024-09-30 20:40:49       5        4   9.50    10
19 2024-09-30 20:40:59       5        4   9.50    20
20 2024-09-30 20:41:00       5        4  10.50    25
21 2024-09-30 20:41:11       5        6  10.00    25
22 2024-09-30 20:41:58       9        6  10.00    75
23 2024-09-30 20:41:58       9        4  10.00    30
24 2024-09-30 20:42:04       9       12  10.00    15
25 2024-09-30 20:42:24       9       12  10.00    15